h1 {
  
    background: 4A314D;
    color: 1A090D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  h2 {
    background-color: 6B6570;
    color: ACE894;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  #main {
    background-color: 6B6570;
    color: ACE894;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
